<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .info span {padding-right: 100px}
        .summary {padding-top: 200px}
    </style>

    <title>{{ blog.blogTitle }}</title>
</head>
<body>
    <div class="title">
        <a href="{% url 'blog_get_blogs' %}"> <返回博客标题 </a>- <a href="{% url 'blog_get_details' blog.id%}"></a>
    </div>

    <div align="center" class="blog">
        <div class="info">
            <span class="blogContext">{{ blog.blogContext }}</span>
            <span class="created" style="color: #6aa84e;">{{ blog.blogReleasedTime |date:"Y-m-d H:i" }}</span>
        </div>
        <div class="summary">
            {{ blog.blogContent | truncatechars:100 }}
        </div>
        </div>

        <div class="comments-display" style="padding-top: 20px;">
            <h3>评论</h3>
            {% for comment in comments %}
                <div class="comment-field" style="padding-top: 10px;">
                    {{ comment.commentContext }}
                </div>
            {% endfor %}
        </div>

        <div class="comment-post" style="padding-top: 20px;">
            <h3>提交评论</h3>
            <form action="{% url 'blog_get_details' blog.id%}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-field" style="padding-top: 10px">
                        {{ field.label }}: {{ field }}
                    </div>
                    <div class="error" style="color: red;">
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button type="submit" style="margin-top: 10px">提交</button>
            </form>
        </div>
    </div>
</body>
</html>